/* You can add global styles to this file, and also import other style files */

/* TODO: REVIEW STYLES */
.column_partial-lap-time {
  /* min-width: 160px; */
  text-align: center;
}

.column_lap-time {
  /* min-width: 160px; */
  text-align: center;
}

.badge-secondary {
  background-color: rgba(108,117,125, 0.2);
}
.badge-success {
  background-color: rgba(40,167,69, 0.2);
}
.badge-info {
  background-color: rgba(23,162,184, 0.2);
}
