/* You can add global styles to this file, and also import other style files */
@import 'scss/main';

/* TODO: REVIEW STYLES */
body {
  overflow-x: hidden;
  min-height: 500px;
  background-color: #2f353d !important;
}
