<div class="table-responsive">
  <table class="table table-striped table-sm racer_table best-partials-laps_table">
    <thead>
      <tr>
        <th scope="col" class="timing_table-head-column timing_table-column-pos">POS</th>
        <th scope="col" class="timing_table-head-column timing_table-column-car">NUM</th>
        <th scope="col" class="timing_table-head-column timing_table-column-participant_name">NOMBRE</th>
        <th scope="col" class="timing_table-head-column timing_table-column-laps">V</th>
        <th scope="col" class="timing_table-head-column timing_table-column-lap-sector">S1</th>
        <th scope="col" class="timing_table-head-column timing_table-column-lap-sector">S2</th>
        <th scope="col" class="timing_table-head-column timing_table-column-lap-sector">S3</th>
        <th scope="col" class="timing_table-head-column timing_table-column-lap-sector">S4</th>
        <th scope="col" class="timing_table-head-column timing_table-column-partial-lap-time">TIEMPO</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let trackActivity of trackActivities; let trackActivityIndex = index;" racerRaceParticipant [raceParticipant]="trackActivity.race_participant">
        <td class="timing_table-column-pos">
          <span class="align-middle" *ngIf="trackActivity.best_lap?.time">{{ trackActivityIndex + 1 }}</span>
          <span class="align-middle text-muted" *ngIf="trackActivity.laps_count === 0">-</span>
        </td>
        <td class="timing_table-column-car">
          <span class="align-middle">{{ trackActivity.race_participant?.number }}</span>
        </td>
        <td class="timing_table-column-participant_name">
          <span class="align-middle text-uppercase">{{ trackActivity.race_participant?.driver.last_name }}</span>
          <span class="align-middle"> {{ trackActivity.race_participant?.driver.name }}</span>
        </td>
        <td class="timing_table-column-laps">
          <span class="align-middle text-muted">-</span>
        </td>
        <td class="timing_table-column-lap-sector">
          <racer-partial-lap-time [partial]="getPartial(trackActivity, 0)" [bestPartial]="getBestPartial(trackActivity, 0)" [polePartial]="getPolePartial(0)" [isRefLap]="false"></racer-partial-lap-time>
        </td>
        <td class="timing_table-column-lap-sector">
          <racer-partial-lap-time [partial]="getPartial(trackActivity, 1)" [bestPartial]="getBestPartial(trackActivity, 1)" [polePartial]="getPolePartial(1)" [isRefLap]="false"></racer-partial-lap-time>
        </td>
        <td class="timing_table-column-lap-sector">
            <racer-partial-lap-time [partial]="getPartial(trackActivity, 2)" [bestPartial]="getBestPartial(trackActivity, 2)" [polePartial]="getPolePartial(2)" [isRefLap]="false"></racer-partial-lap-time>
        </td>
        <td class="timing_table-column-lap-sector">
          <racer-partial-lap-time [partial]="getPartial(trackActivity, 3)" [bestPartial]="getBestPartial(trackActivity, 3)" [polePartial]="getPolePartial(3)" [isRefLap]="false"></racer-partial-lap-time>
        </td>
        <td class="timing_table-column-partial-lap-time">
          <racer-lap-time [lap]="getBestLap(trackActivity)" [bestLap]="getBestLap(trackActivity)" [poleLap]="getPoleLap()" [isRefLap]="false"></racer-lap-time>
        </td>
      </tr>
    </tbody>
  </table>
</div>
