.race-participants_wrapper {
  position: relative;
  overflow-x: scroll;
  min-height: 80px;
}

.race-participant_wrapper {
  cursor: pointer;
}

.race-participant_invisible {
  opacity: 0.1;
}

.race-participant_dimmed {
  opacity: 0.5;
}

.race-participant_marked-icon {
  position: absolute;
  top: -7px;
  right: 0;
}
