<div class="row no-gutters" *ngIf="trackActivity">
  <div class="col-12">
    <div class="card-group">
      
      <div class="card border-dark text-white"
        [class.bg-secondary]="trackActivity.state === trackActivityStates.waiting"
        [class.bg-success]="trackActivity.state === trackActivityStates.started"
        [class.bg-warning]="trackActivity.state === trackActivityStates.caution"
        [class.bg-danger]="trackActivity.state === trackActivityStates.stopped"
        [class.bg-info]="trackActivity.state === trackActivityStates.finished"
      >
        <div class="card-body text-center" [class.p-0]="isDurationRunning()">
          <h1 class="card-title mb-0" *ngIf="isDurationRunning()">
            {{ durationTime$ | async | date:'mm:ss' }}
          </h1>
          <div *ngIf="trackActivity.state == trackActivityStates.waiting">
            <h1 class="card-title" *ngIf="!isDurationRunning()">
              {{ trackActivity.duration | date:'mm:ss' }}
            </h1>
            <h4 class="text-uppercase" >
              {{ trackActivity.name }}
            </h4>
            <h5 class="text-uppercase">
              {{ trackActivity.date | date:'shortTime' }}
            </h5>
          </div>
          <h1 class="card-title" *ngIf="trackActivity.state === trackActivityStates.finished">
            FINISHED
          </h1>
          <h4 class="text-uppercase" *ngIf="trackActivity.state === trackActivityStates.caution">
            PACE CAR
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>