<div class="row no-gutters" *ngIf="trackActivity">
  <div class="col-12">
    <div class="card-group">
      
      <div class="card border-dark text-white"
        [class.bg-secondary]="trackActivity.state === trackActivityStates.waiting"
        [class.bg-success]="trackActivity.state === trackActivityStates.started"
        [class.bg-warning]="trackActivity.state === trackActivityStates.caution"
        [class.bg-danger]="trackActivity.state === trackActivityStates.stopped"
      >
        <div class="card-body text-center" [class.p-0]="!!durationTime$">
          <h1 class="card-title mb-0" *ngIf="!!durationTime$">
            {{ durationTime$ | async | date:'mm:ss' }}
          </h1>
          <h1 class="card-title" *ngIf="!durationTime$">
            {{ trackActivity.duration | date:'mm:ss' }}
          </h1>
          <h4 class="text-uppercase" *ngIf="trackActivity.state != trackActivityStates.caution && !durationTime$">
            {{ trackActivity.name }} {{ trackActivity.date | date:'shortTime' }}
          </h4>
          <h4 class="text-uppercase" *ngIf="trackActivity.state === trackActivityStates.caution">
            PACE CAR
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>