<div *ngIf="partial">
  <span
    class="align-middle font-weight-normal"
    [class.text-muted]="isRefLap"
    [class.text-success]="poleGap < 0"
    [class.text-info]="poleGap > 0 && gap < 0"
    [class.text-white]="poleGap > 0 && gap >= 0"
  >
    {{ partial.time | partialLapTime  }}
  </span>
  <span
    class="align-middle badge"
    [class.badge-success]="poleGap < 0"
    [class.badge-info]="poleGap > 0 && gap < 0"
    [class.badge-secondary]="poleGap > 0 && gap >= 0"
    [class.invisible]="poleGap === 0"
  >
    {{ poleGap | partialLapTime:true }}
  </span>
</div>
