<div class="timing-content-loading p-5 text-center text-muted" *ngIf="isDataLoading()">
  <i class="d-block fas fa-spinner fa-spin"></i>
  <span class="d-block">Cargando</span>
</div>
<div class="timing-content" *ngIf="!isDataLoading()">
  <racer-timing-primary-bar
    [bestTrackActivity]="bestTrackActivity"
    [title]="currentViewNumber === 0 ? 'Tiempos' : currentViewNumber === 1 ? 'PARCIALES' : currentViewNumber === 2 ? 'VUELTAS' : 'MEJORES POR PARCIAL'"></racer-timing-primary-bar>

  <racer-leaderboard [trackActivities]="raceParticipantTrackActivities" [bestLap]="bestLap" *ngIf="currentViewNumber === 0"></racer-leaderboard>

  <racer-best-partials-laps [trackActivities]="raceParticipantTrackActivities" [bestLap]="bestLap" *ngIf="currentViewNumber === 1"></racer-best-partials-laps>

  <div class="container-fluid">
    <div class="row">
      <div class="col-12" *ngIf="currentViewNumber === 2">
        <div class="partials-per-lap-wrapper mt-2">
          <div class="row">
            <div class="col-6 mb-4" *ngFor="let trackActivity of raceParticipantTrackActivities; let trackActivityIndex = index;">
              <racer-partials-per-lap [trackActivity]="trackActivity" [bestLap]="bestLap" [title]="(trackActivityIndex + 1)"></racer-partials-per-lap>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12" *ngIf="currentViewNumber === 3">
        <div class="row">
          <div class="col pl-0">
            <racer-best-per-partials [trackActivities]="raceParticipantTrackActivities" [bestLap]="bestLap" [partialIndex]="0"></racer-best-per-partials>
          </div>
          <div class="col">
            <racer-best-per-partials [trackActivities]="raceParticipantTrackActivities" [bestLap]="bestLap" [partialIndex]="1"></racer-best-per-partials>
          </div>
          <div class="col">
            <racer-best-per-partials [trackActivities]="raceParticipantTrackActivities" [bestLap]="bestLap" [partialIndex]="2"></racer-best-per-partials>
          </div>
          <div class="col pr-0">
            <racer-best-per-partials [trackActivities]="raceParticipantTrackActivities" [bestLap]="bestLap" [partialIndex]="3"></racer-best-per-partials>
          </div>
        </div>
      </div>
    </div>
  </div>

  <racer-timing-secondary-bar
    [bestTrackActivity]="bestTrackActivity"
    [title]="currentViewNumber === 0 ? 'Tiempos' : currentViewNumber === 1 ? 'PARCIALES' : currentViewNumber === 2 ? 'VUELTAS' : 'MEJORES POR PARCIAL'"></racer-timing-secondary-bar>
</div>
