<ng-template #loading>
  <div class="timing-content-loading p-5 text-center text-muted">
    <div class="d-block">
      <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
    </div>
    <span class="d-block">Daleeeeeeeeee...</span>
  </div>
</ng-template>

<ng-template #empty>
  <div class="timing-content-loading p-5 text-center text-muted">
    <i class="d-block fas fa-times"></i>
    <span class="d-block">No hay datos de tiempos</span>
  </div>
</ng-template>

<div class="timing-content">

  <racer-timing-primary-bar
    [bestRaceParticipantTrackActivity]="bestRaceParticipantTrackActivity$ | async"
    [title]="title"></racer-timing-primary-bar>

  <router-outlet></router-outlet>

</div>

<racer-timing-secondary-bar
  [trackActivity]="trackActivity$ | async"
  [raceParticipants]="raceParticipants"></racer-timing-secondary-bar>
