<div class="container-fluid">
  <div class="row">
    <div class="col pl-0">
      <racer-best-per-partials
        [trackActivities]="raceParticipantsTrackActivities"
        [bestRaceParticipantTrackActivity]="bestRaceParticipantTrackActivity$ | async"
        [partialIndex]="0"></racer-best-per-partials>
    </div>
    <div class="col">
      <racer-best-per-partials
        [trackActivities]="raceParticipantsTrackActivities"
        [bestRaceParticipantTrackActivity]="bestRaceParticipantTrackActivity$ | async"
        [partialIndex]="1"></racer-best-per-partials>
    </div>
    <div class="col">
      <racer-best-per-partials
        [trackActivities]="raceParticipantsTrackActivities"
        [bestRaceParticipantTrackActivity]="bestRaceParticipantTrackActivity$ | async"
        [partialIndex]="2"></racer-best-per-partials>
    </div>
    <div class="col pr-0">
      <racer-best-per-partials
        [trackActivities]="raceParticipantsTrackActivities"
        [bestRaceParticipantTrackActivity]="bestRaceParticipantTrackActivity$ | async"
        [partialIndex]="3"></racer-best-per-partials>
    </div>
  </div>
</div>