<div *ngIf="trackActivity">
  <div class="d-flex justify-content-between align-items-center text-white">
    <span class="text-uppercase text-success">{{ trackActivity.name }}</span>
    <span class="text-success" *ngIf="trackActivity.date">{{ trackActivity.date | date:'mm:ss' }} hs</span>
    <div>
      <span class="badge badge-pill bg-secondary bg-success" *ngIf="trackActivity.duration > 0">
        {{ trackActivity.duration }} minutos
      </span>
      <span class="badge badge-pill bg-secondary bg-success" *ngIf="trackActivity.laps > 0">{{ trackActivity.laps }} vueltas</span>
    </div>
  </div>
  <div>
    <small class="d-inline-block text-uppercase text-muted">Datos:</small>
    <div class="d-inline-block ml-4" *ngIf="trackActivity.race_participants_track_activities">
      <span class="text-white">{{ trackActivity.race_participants_track_activities.length }} participantes</span>
    </div>
  </div>
</div>
