$separation: 0.7rem;

.stats-container {
  font-size: 0.8rem;
  color: $gray-600;

  .stat-separator {
    border-bottom: 1px solid $gray-600;
    padding-bottom: $separation;
    margin-bottom: $separation;
  }

  &.stats-container--right-bordered,
  .stat-box--right-bordered {
    border-right: 1px solid $gray-600;
    padding-right: $separation;
    margin-right: $separation;
  }

  .stat-box__big-title {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }

  .stat-box__big-title-number {
    font-size: 3rem;
    line-height: 3rem;
  }

  .stat-box__subtitle {
    font-size: 0.7rem;
    line-height: 0.7rem;
  }

  .stat-box__indication-number {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }

  // Theming

  &.stats-container--theme-blue {
    .stat--highlighted {
      color: $primary;
    }

    .stat--bordered-highlighted {
      border-bottom-color: $primary;
    }
  }

  &.stats-container--theme-yellow {
    .stat--highlighted {
      color: $yellow;
    }

    .stat--bordered-highlighted {
      border-bottom-color: $yellow;
    }
  }

  .stat-progress {
    height: 0.5rem;
  }
}