<div *ngIf="lap">
  <span
    class="d-inline-block align-middle font-weight-normal timing-lap-time"
    [class.text-muted]="isRefLap"
    [class.text-success]="poleGap < 0"
    [class.text-info]="poleGap >= 0 && gap <= 0"
    [class.text-white]="poleGap === 0 || !gap"
    style="min-height: 24px;"
  > <!-- TODO: REVIEW THIS-->
    {{ lap.time | lapTime  }}
  </span>
  <span
    class="align-middle badge ml-2 timing-lap-time-gap"
    [class.badge-success]="poleGap < 0"
    [class.badge-info]="poleGap >= 0 && gap <= 0"
    [class.badge-secondary]="poleGap > 0 && gap >= 0"
    [class.d-none]="!showGap || poleGap === 0"
    [class.d-inline-block]="showGap && poleGap != 0"
  >
    {{ poleGap | partialLapTime:true }}
  </span>
</div>
