<div class="stats-container stats-container--theme-{{theme}}" [class.stats-container--right-bordered]="hasContainerRightBorder">
	<div class="container-fluid p-0">
		<div class="row no-gutters">
			<div class="col-12">
				<div class="stat-box">
					<span class="stat-box__big-title stat--highlighted">VOLPE Joaquin</span>
				</div>
				<div class="stat-separator stat--bordered-highlighted"></div>
			</div>
		</div>
		<div class="row no-gutters">
			<div class="col-4">
				<div class="stat-box stat-box--right-bordered">
					<span class="d-block text-uppercase stat-box__title">Vuelta</span>
					<span class="d-block stat-box__big-title-number stat--highlighted">2</span>
					<span class="d-block stat-box__subtitle">en un total de 10 vueltas.</span>
				</div>
			</div>
			<div class="col-8">
				<div class="stat-box">
					<span class="d-block text-uppercase stat-box__title">Tiempo</span>
					<div class="d-block">
						<span class="stat-box__big-title-number stat--highlighted">1:43.781</span>
						<span class="ml-2 stat-box__indication-number">+0.123</span>
					</div>
					<span class="d-block stat-box__subtitle">mejor tiempo de vuelta.</span>
				</div>
			</div>
			<div class="col-12">
				<div class="stat-separator"></div>
			</div>
		</div>
		<div class="row no-gutters">
			<div class="col-12 mb-2">
				<div class="stat-box">
					<span class="d-block text-uppercase stat-box__title">Sector 1</span>
					<div class="d-block">
						<span class="stat-box__big-title-number stat--highlighted">32,827</span>
						<span class="ml-2 stat-box__indication-number">+0.123</span>
					</div>
					<span class="d-block invisible stat-box__subtitle">tiempo parcial.</span>
					<div class="progress stat-progress bg-white">
						<div class="progress-bar bg-danger" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
				</div>
			</div>
			<div class="col-12 mb-2">
				<div class="stat-box">
					<span class="d-block text-uppercase stat-box__title">Sector 2</span>
					<div class="d-block">
						<span class="stat-box__big-title-number stat--highlighted">31,411</span>
						<span class="ml-2 stat-box__indication-number">+0.123</span>
					</div>
					<span class="d-block invisible stat-box__subtitle">.</span>
					<div class="progress stat-progress bg-white">
						<div class="progress-bar bg-danger" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
				</div>
			</div>
			<div class="col-12 mb-2">
				<div class="stat-box">
					<span class="d-block text-uppercase stat-box__title">Sector 3</span>
					<div class="d-block">
						<span class="stat-box__big-title-number stat--highlighted">20,510</span>
						<span class="ml-2 stat-box__indication-number">+0.123</span>
					</div>
					<span class="d-block invisible stat-box__subtitle">mejor tiempo de vuelta.</span>
					<div class="progress stat-progress bg-white">
						<div class="progress-bar bg-danger" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
				</div>
			</div>
			<div class="col-12 mb-2">
				<div class="stat-box">
					<span class="d-block text-uppercase stat-box__title">Sector 4</span>
					<div class="d-block">
						<span class="stat-box__big-title-number stat--highlighted">19,033</span>
						<span class="ml-2 stat-box__indication-number">+0.123</span>
					</div>
					<span class="d-block invisible stat-box__subtitle">mejor tiempo de vuelta.</span>
					<div class="progress stat-progress bg-white">
						<div class="progress-bar bg-danger stat-progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
				</div>
				<div class="stat-separator"></div>
			</div>
		</div>
		<div class="row no-gutters">
			<div class="col-12">
				<div class="stat-box">
					<span class="d-block text-uppercase stat-box__title">Velocidad maxima (km/h)</span>
					<div class="d-block">
						<span class="stat-box__big-title-number stat--highlighted">255</span>
						<span class="ml-2 stat-box__indication-number">+2</span>
					</div>
					<span class="d-block invisible stat-box__subtitle">.</span>
				</div>
				<div class="stat-separator"></div>
			</div>
			<div class="col-12">
				<div class="stat-box">
					<span class="d-block text-uppercase stat-box__title">Distancia (m)</span>
					<div class="d-block">
						<span class="stat-box__big-title-number stat--highlighted">2,034</span>
						<span class="ml-2 stat-box__indication-number">+200</span>
					</div>
					<span class="d-block invisible stat-box__subtitle">.</span>
				</div>
			</div>
		</div>
	</div>
</div>
