@import '../../../../../scss/vars/variables';

$timing-secondary-bar-border-size: 3px;
$timing-ui-bar-width: 300px;

.timing-secondary-bar_wrapper,
.timing-secondary-bar_wrapper-extra {
  background-color: $gray-800;
}

.timing-secondary-bar_best-lap-sector-time,
.timing-secondary-bar_best-lap-time {
  margin: 0 10px;
}

.timing-secondary-bar_wrapper {
  border-top: $timing-secondary-bar-border-size solid $success;
}

.timing-secondary-bar_box-wrapper {

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 20px;
    margin-left: -20px;
    transform: skew(-20deg);
    background-color: $white;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 20px;
    margin-left: 5px;
    transform: skew(-20deg);
    background-color: $white;
  }
}

.timing-secondary-bar_toggle-icon,
.timing-secondary-bar_wrapper-extra {
  transition: all 0.2s;
}

.timing-secondary-bar_wrapper-extra {
  max-height: 0;
}

.timing-secondary-bar_wrapper-extra_expanded {

  .timing-secondary-bar_wrapper-extra {
    max-height: 800px;
  }

  .timing-secondary-bar_toggle-icon {
    transform: rotate(180deg);
  }
}

.timing-ui-bar_wrapper {
  position: absolute;
  bottom: 100%;
  right: 0;
  width: 0;
  background-color: $dark;
  z-index: 1030;
  transition: width 0.2s;

  border-left: 2px solid $gray-600;
  border-top: 2px solid $gray-600;
  
  &.timing-ui-bar_wrapper_expanded {
    width: $timing-ui-bar-width;
  }
}
