<div class="fixed-bottom" [class.timing-secondary-bar_wrapper-extra_expanded]="isExpanded">
  <nav class="timing-secondary-bar_wrapper p-3">
    <div class="row justify-content-center align-items-center">
      <div class="col-auto">
        <div class="text-center">
          <i class="fas fa-lg fa-chevron-up text-primary timing-secondary-bar_toggle-icon" (click)="isExpanded = !isExpanded"></i>
        </div>
      </div>
      <div class="col">
        <div class="row justify-content-center" *ngIf="trackActivity">
          <div class="col-auto">
            <div class="d-inline-block bg-white text-dark pt-2 pb-2 pl-3 pr-3 mr-4 timing-secondary-bar_box-wrapper">
              <span class="font-weight-normal text-uppercase align-middle">{{ trackActivity.name }}</span>
              <small class="bg-success text-uppercase text-white pt-2 pb-2 pl-3 pr-3 ml-3 align-middle">VIVO</small>
            </div>
            <span class="font-weight-normal ml-4 mr-2">{{ trackActivity.date | date:'mm:ss' }} hs</span>
            <span class="font-weight-normal text-normal ml-2 mr-2" *ngIf="trackActivity.duration > 0">{{ trackActivity.duration }} minutos</span>
            <span class="font-weight-normal text-normal ml-2" *ngIf="trackActivity.laps > 0">{{ trackActivity.laps }} vueltas</span>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <div class="text-center">
          <i class="fas fa-exchange-alt fa-lg mr-2 text-primary"></i>
          <i class="fas fa-tv fa-lg text-primary"></i>
        </div>
      </div>
    </div>
  </nav>

  <div class="timing-secondary-bar_wrapper-extra">
    <racer-race-weekend class="d-block pl-3 pr-3" [raceWeekend]="raceWeekend"></racer-race-weekend>
  </div>
</div>