<racer-track-activity-state></racer-track-activity-state>

<div class="row no-gutters">
  <div class="col-12">
    <div class="table-responsive">
      <table class="table table-dark"> <!-- table-striped -->
        <thead>
          <tr>
            <th scope="col">POS</th>
            <th scope="col">CAR</th>
            <th scope="col">NAME</th>
            <th scope="col">LAPS</th>
            <th scope="col">TIME</th>
            <th scope="col">GAP</th>
            <th scope="col" class="d-none">INT</th>
            <th scope="col" class="column_partial-lap-time">S1</th>
            <th scope="col" class="column_partial-lap-time">S2</th>
            <th scope="col" class="column_partial-lap-time">S3</th>
            <th scope="col" class="column_partial-lap-time">S4</th>
            <th scope="col">LAP TIME</th>
            <th scope="col">DIFF</th>
          </tr>
          <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col" class="d-none"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col" class="column_partial-lap-time">
              <racer-partial-lap-time [partial]="bestLap?.partials[0]" [isRefLap]="bestLap.ref_lap"></racer-partial-lap-time>
            </th>
            <th scope="col" class="column_partial-lap-time">
              <racer-partial-lap-time [partial]="bestLap?.partials[1]" [isRefLap]="bestLap.ref_lap"></racer-partial-lap-time>
            </th>
            <th scope="col" class="column_partial-lap-time">
              <racer-partial-lap-time [partial]="bestLap?.partials[2]" [isRefLap]="bestLap.ref_lap"></racer-partial-lap-time>
            </th>
            <th scope="col" class="column_partial-lap-time">
              <racer-partial-lap-time [partial]="bestLap?.partials[3]" [isRefLap]="bestLap.ref_lap"></racer-partial-lap-time>
            </th>
            <th scope="col">
              <span class="font-weight-normal" [class.text-white]="!bestLap.ref_lap" [class.text-muted]="bestLap.ref_lap">
                {{ bestLap?.time | lapTime  }}
              </span>
            </th>
            <th scope="col" class="text-left" [class.invisible]="!bestLap">
              <small class="font-weight-normal text-secondary" *ngIf="!bestLap.ref_lap">BEST LAP</small>
              <small class="font-weight-normal text-muted" *ngIf="bestLap.ref_lap">REF LAP</small>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of rows; let rowIndex = index;">
            <td>
              <span *ngIf="row.best_lap.time">{{ rowIndex + 1 }}</span>
              <span *ngIf="row.laps_count === 0">-</span>
            </td>
            <td>
              {{ row.race_participant.number }}
            </td>
            <td>
              {{ row.race_participant.driver.last_name }} {{ row.race_participant.driver.name }}
            </td>
            <td>
              {{ row.laps_count }}
            </td>
            <td>
              {{ row.best_lap?.time | lapTime }}
            </td>
            <td>
              <span *ngIf="calculateGap(rowIndex + 1, row) > 0">{{ calculateGap(rowIndex + 1, row) | partialLapTime }}</span>
            </td>
            <td class="d-none">
              <span *ngIf="calculateInterval(rowIndex + 1, row) > 0">{{ calculateInterval(rowIndex + 1, row) | partialLapTime }}</span>
            </td>
            <td class="column_partial-lap-time">
              <racer-partial-lap-time [partial]="row.last_lap?.partials[0]" [bestPartial]="row.best_lap?.partials[0]" [polePartial]="bestLap?.partials[0]" [isRefLap]="false"></racer-partial-lap-time>
            </td>
            <td class="column_partial-lap-time">
              <racer-partial-lap-time [partial]="row.last_lap?.partials[1]" [bestPartial]="row.best_lap?.partials[1]" [polePartial]="bestLap?.partials[1]" [isRefLap]="false"></racer-partial-lap-time>
            </td>
            <td class="column_partial-lap-time">
              <racer-partial-lap-time [partial]="row.last_lap?.partials[2]" [bestPartial]="row.best_lap?.partials[2]" [polePartial]="bestLap?.partials[2]" [isRefLap]="false"></racer-partial-lap-time>
            </td>
            <td class="column_partial-lap-time">
              <racer-partial-lap-time [partial]="row.last_lap?.partials[3]" [bestPartial]="row.best_lap?.partials[3]" [polePartial]="bestLap?.partials[3]" [isRefLap]="false"></racer-partial-lap-time>
            </td>
            <td>
              <span class="text-white">
                {{ row.last_lap?.time | lapTime  }}
              </span>
            </td>
            <td>
              <span 
                class="align-middle badge p-2"
                [class.badge-success]="calculateGapCurrentLap(rowIndex + 1, row) < 0"
                [class.badge-secondary]="calculateGapCurrentLap(rowIndex + 1, row) >= 0"
                *ngIf="calculateGapCurrentLap(rowIndex + 1, row) !== 0"
                >
                {{ calculateGapCurrentLap(rowIndex + 1, row) | partialLapTime:true }}
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
