/* You can add global styles to this file, and also import other style files */

// Import variables
@import 'vars/variables';

// Import bootstrap
@import '~bootstrap/scss/bootstrap';

// Mixins
@import 'mixins/all';

// libs
@import 'fonts';

// Components
@import 'components/line-box';
@import 'components/racer-table';
@import 'components/stats-container';

// TODO: REVIEW THIS

html,
body {
  height: 100vh;
}

.app-content {
  // min-height: 1000px;
}

.connected {
  color: $success;
}

.connected:after {
  content: 'CONECTADO';
}

.disconnected {
  color: $danger;
}

.disconnected:after {
  content: 'DESCONECTADO';
}
